<div class="modal-header">
    @ChildContent
    <button type="button" class="close" @onclick="@this.Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Action? Hide { get; set; }

    private void Close()
    {
        this.Hide?.Invoke();
    }
}
